.header{
    background-color: #F9F9FA;
    margin: 0%;
    padding: 0px 100px;
    height: 94px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    /* visibility: initial; */
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items:center ;
    list-style: none;
}

.menu-item{
  margin: 25px;
 
}
.menu-link{
    color: #181818;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 400;
    font-size: 20px;
    line-height: 2.4rem;
 
}
.line{
    position: relative;
    height: 2px;
    width: 100%;
    margin:  0;
    background-color: #B57498;
}
.menu-link:hover {
    color: #B57498;
    font-weight: 500;


}
.signin{
 
    display: flex;
    position: absolute; 
    list-style: none;
    left: 5%;
}
.signin-item{
    color: #B57498;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 560;
    font-size: 15px;
    line-height: 2.4rem;
}
.signin-item:hover {
    color: #B57498;
}
.beer-logo{
  width: 170px;
  height: 50px;
}
.social {
    display: flex;
     position: absolute; 
    list-style: none;
    right: 5%;
}
.social-link{
    margin: 8px;  
    position: relative;
    color: #181818;
}
.social-link:hover {
    color: #B57498;
}
.bg-img{
    background-image:url('bgSignin_SIGN UP.png');
}


